.Footer{
    margin: 40px;
    bottom: 0%;
}
 /* My email */
#light .authorName{
    color: #9b006a
}

#dark .authorName{
    color: #ff64e3
}
/* The Link that is my email */
.Footer a{
    margin: 0px 50px;
}

#light .Footer a{
    color:  #680047;
}
#dark .Footer a{
    color:  #ff97da;
}
