.TopHome{
    width: 100vw;
}
.navContents{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
h1{
    font-size: 400%;
    margin: 20px;
}

/* Filter selected and unselected */
#light .filter .selected{
    background-color: #ff64cb;
    border: 3px solid #bc4996;
}
#dark .filter .selected{
    background-color: #a4006d;
    border: 3px solid #962871;
}
/* Selected hover */
#light .filter .selected:hover{
    background-color: #ff64cb;
    border: 3px solid #bc4996;
}
.dark .selected:hover{
    background-color: #9c0068;
    border: 3px solid #982572;
}
