.Card{
    width: 200px;
    height: 400px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.2s linear;
}
#light .Card{
    border: #bd7d92 solid 2px;
}
#dark .Card{
    border: #824252 solid 2px;
}

#light .Card:hover{
    background-color: #ffb3cc;
}
#dark .Card:hover{
    background-color: #4c0026;
}

.Card .imgDiv{
    /* Center Image in box */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.Card img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
.Card p{
    margin: 5px;
}
.Card .title{
    font-size: 150%;
    height: 15%;
    margin: 10px;
}

.Card .message{
    font-size: 75%;
    height: 10%;
}
.Card button{
 font-size: small;
}

.upVoteDiv{
    width: 100%;
}
.upVoteDiv button{
    font-size: 90%;
    padding: 4px;
    margin: 10px;
}

.cardButton{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* height: 15%; */
}

.Card .delete{
    width: 30px;
    height: 30px;
    padding: 4px;
    margin: 0px 10px;
    background-color: #ffa9c5;
    border: #c97490 solid 2px;
    border-radius: 5px;
}

#light .Card .delete{
    background-color: #ffa9c5;
    border: #c97490 solid 2px;
}
#dark .Card .delete{
    background-color: #56002c;
    border: #8b364f solid 2px;
}

.Card svg{
    width: 30px;
    height: 30px;
}

#light .Card .delete:hover{
    background-color: red;
}
#dark .Card .delete:hover{
    background-color: rgb(134, 0, 0);
}
