.NewCard{
    margin: 20px;
}
/* Inner div shown when add is clicked */
.addCardDiv{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.addCardLabel{
    font-size: large;
}
