.Board{
    width: 200px;
    height: 400px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.2s linear;
}

#light .Board{
    border: #bd7d92 solid 2px;
}
#dark .Board{
    border: #824252 solid 2px;
}

#light .Board:hover{
    background-color: #ffb3cc;
}
#dark .Board:hover{
    background-color: #4c0026;
}


.Board .imgDiv{
    /* Center Image in box */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.Board img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
.Board p{
    margin: 5px;
}
.Board .title{
    font-size: 150%;
    height: 12%;
    margin: 10px;
}
.Board .category{
    font-style: italic;
}
.Board .authorDiv{
    height: 5%;
}

.Board .boardBottom{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 15%;
}

.description{
    font-size: 75%;
    width: 100%;
}

.Board .delete{
width: 30px;
height: 30px;
padding: 4px;
border-radius: 5px;
}
#light .Board .delete{
    background-color: #ffa9c5;
    border: #c97490 solid 2px;
}
#dark .Board .delete{
    background-color: #56002c;
    border: #8b364f solid 2px;
}

.Board svg{
    width: 30px;
    height: 30px;
}

#light .Board .delete:hover{
    background-color: red;
}
#dark .Board .delete:hover{
    background-color: rgb(134, 0, 0);
}
