.NewBoard{
    margin: 10px;
}
.newBoardMaker{
    border: 2px solid #f8bcd0;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    /* TODO ADD a transition  */
}
.addBoardDiv{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.addBoardLabel{
    font-size: large;
}
