.NewBoard{
    margin: 10px;
}
/* Inner class that gets shown and unshown*/
.newBoardMaker{
    border: 2px solid #f8bcd0;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
/* Each element to add */
.addBoardDiv{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* Label on each board */
.addBoardLabel{
    font-size: large;
}
